.main-mans-section {
  padding-top: 100px;
  & .header-mans {
    text-align: center;
    background-color: rgb(247, 244, 240);
    & .mens-heading {
      font-size: 35px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 600;
      color: rgb(97, 97, 97);
      margin-bottom: 25px;
      padding: 20px;
    }
  }
  & .boys-all-category {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    & .categoury-text {
      text-align: center;
      font-size: 30px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 600;
      color: rgb(97, 97, 97);
    }
    & .categoury-all-boys {
      display: flex;
      justify-content: center;
      gap: 50px;
      & .boys-categoury-image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        cursor: pointer;
        & .boys-iamge-circle {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 60%;
          border: 2px solid #ccc;
        }
      }
    }
  }
  & .filter-section-men {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 16px;
    padding-top: 30px;
    & .left-filter-side-men {
      display: flex;
      gap: 20px;
      cursor: pointer;
      & .left-side-text-men {
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: rgb(173, 171, 171);
        cursor: pointer;
      }
      & .left-side-texts {
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
      }
      & .dropdown-men {
        display: none;
        display: flex;
        flex-direction: column;
        position: relative;
        & .dropdown-content-men {
          position: absolute;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 20px;
          top: 100%;
          left: 0;
          background: white;
          width: 200px;
          z-index: 999;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          & .open-men {
            display: flex;
          }
        }
      }
    }
    & .right-side-sorteds-men {
      display: flex;
      gap: 10px;
      font-size: 16px;
      font-weight: 400;
    }
  }
  // image product section start
  & .all-product-image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
    & .all-content-mens-section {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 300px;
      background: #fff;
      border: 1px solid #eee;
      border-radius: 8px;
      overflow: hidden;
      text-align: center;
      transition: box-shadow 0.3s;
      & .image-main-mens-container {
        padding: 0px;
        position: relative;
        width: 350px;
        height: 400px;
        & .product-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        & .overlay_buttons-mens {
          position: absolute;
          bottom: 0;
          width: 100%;
          display: none;
          justify-content: space-between;
          align-items: center;
          background-color: rgb(250, 229, 201);
          padding: 6px;
          & .like_btn-mens,
          & .view_btn-mens {
            background: none;
            border: none;
            color: rgb(79, 78, 78);
            font-size: 22px;
            cursor: pointer;
          }
        }
        &:hover {
          .overlay_buttons-mens {
            display: flex;
          }
        }
      }

      & .product-boys-name {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 4px;
      }
      & .combine-price-or-span {
        display: flex;
        justify-content: center;
        gap: 10px;
        & .men-main-price {
          color: #777;
          font-size: 16px;
          font-weight: 500;
          text-decoration: line-through;
        }
        & .men-discount-price {
          color: rgb(252, 67, 67);
        }
      }
    }
  }
}

@media (max-width: 1026px) {
  .main-mans-section {
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
    & .header-mans {
      text-align: center;
      background-color: rgb(247, 244, 240);
      & .mens-heading {
        font-size: 35px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-weight: 600;
        color: rgb(97, 97, 97);
        margin-bottom: 25px;
        padding: 20px;
      }
    }
    & .boys-all-category {
      padding-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      & .categoury-text {
        text-align: center;
        font-size: 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-weight: 600;
        color: rgb(97, 97, 97);
      }
      & .categoury-all-boys {
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        & .boys-categoury-image-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 3px;
          cursor: pointer;
          & .boys-iamge-circle {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 60%;
            border: 2px solid #ccc;
          }
        }
      }
    }
    & .filter-section-men {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 16px;
      padding-top: 30px;
      & .left-filter-side-men {
        display: flex;
        gap: 20px;
        & .left-side-text-men {
          display: block;
          font-size: 16px;
          font-weight: 500;
          color: rgb(173, 171, 171);
          cursor: pointer;
        }
        & .left-side-texts {
          font-size: 17px;
          font-weight: 400;
          cursor: pointer;
        }
        & .dropdown-men {
          display: none;
          display: flex;
          flex-direction: column;
          position: relative;
          & .dropdown-content-men {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            top: 100%;
            left: 0;
            background: white;
            width: 200px;
            z-index: 999;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            & .open-men {
              display: flex;
            }
          }
        }
      }
      & .right-side-sorteds-men {
        display: flex;
        gap: 10px;
        font-size: 16px;
        font-weight: 400;
      }
    }
    & .all-product-image-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      padding-top: 30px;
      & .all-content-mens-section {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 300px;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
        transition: box-shadow 0.3s;
        & .image-main-mens-container {
          padding: 0px;
          position: relative;
          & .product-image {
            width: 350px;
            // height: auto;
            object-fit: cover;
            height: fit-content;
          }
          & .overlay_buttons-mens {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: none;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(250, 229, 201);
            padding: 6px;
            & .like_btn-mens,
            & .view_btn-mens {
              background: none;
              border: none;
              color: rgb(79, 78, 78);
              font-size: 22px;
              cursor: pointer;
            }
          }
          &:hover {
            .overlay_buttons-mens {
              display: flex;
            }
          }
        }

        & .product-boys-name {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 4px;
        }
        & .combine-price-or-span {
          display: flex;
          justify-content: center;
          gap: 10px;
          & .price-product-mens {
            font-size: 16px;
            font-weight: 500;
          }
          & .span-price-mens {
            font-size: 14px;
            font-weight: 500;
            color: red;
          }
        }
      }
    }
  }
}

@media (max-width: 776px) {
  .main-mans-section {
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    & .header-mans {
      text-align: center;
      background-color: rgb(247, 244, 240);
      & .mens-heading {
        font-size: 35px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-weight: 600;
        color: rgb(97, 97, 97);
        margin-bottom: 25px;
        padding: 20px;
      }
    }
    & .boys-all-category {
      padding-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      & .categoury-text {
        text-align: center;
        font-size: 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-weight: 600;
        color: rgb(97, 97, 97);
      }
      & .categoury-all-boys {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        & .boys-categoury-image-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 3px;
          cursor: pointer;
          & .boys-iamge-circle {
            width: 80px;
            height: 90px;
            object-fit: cover;
            border-radius: 60%;
            border: 2px solid #ccc;
          }
        }
      }
    }
    & .filter-section-men {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 16px;
      & .left-filter-side-men {
        display: flex;
        flex-direction: column;
        gap: 20px;
        & .left-side-text-men {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          font-weight: 500;
          color: rgb(173, 171, 171);
          cursor: pointer;
          padding-left: 0px;
        }
        & .left-side-texts {
          font-size: 17px;
          font-weight: 400;
          cursor: pointer;
        }
        & .dropdown-men {
          display: flex;
          flex-direction: column;
          position: relative;
          & .dropdown-content-men {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            top: 100%;
            left: 0;
            background: white;
            width: 200px;
            z-index: 999;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            & .open-men {
              display: flex;
            }
          }
        }
      }
      & .right-side-sorteds-men {
        position: absolute;
        top: 20px;
        right: 0;
        left: 180px;
        background-color: white;
        z-index: 10;
        padding: 10px;
      }
    }
    & .all-product-image-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      padding-top: 30px;
      & .all-content-mens-section {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 300px;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
        transition: box-shadow 0.3s;
        & .image-main-mens-container {
          padding: 0px;
          position: relative;
          & .product-image {
            width: 350px;
            // height: auto;
            object-fit: cover;
            height: fit-content;
          }
          & .overlay_buttons-mens {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: none;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(250, 229, 201);
            padding: 6px;
            & .like_btn-mens,
            & .view_btn-mens {
              background: none;
              border: none;
              color: rgb(79, 78, 78);
              font-size: 22px;
              cursor: pointer;
            }
          }
          &:hover {
            .overlay_buttons-mens {
              display: flex;
            }
          }
        }

        & .product-boys-name {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 4px;
        }
        & .combine-price-or-span {
          display: flex;
          justify-content: center;
          gap: 10px;
          & .price-product-mens {
            font-size: 16px;
            font-weight: 500;
          }
          & .span-price-mens {
            font-size: 14px;
            font-weight: 500;
            color: red;
          }
        }
      }
    }
  }
}
