.login-container {
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  & .sub-contaner {
    padding: 15px;
    display: flex;
    width: 70%;
    max-width: 900px;
    height: 80vh;
    background-color: antiquewhite;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 11;
    position: relative;
  }
  .login-left {
    flex: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .login-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    .login-form {
      width: 100%;
      max-width: 400px;
      padding: 40px;

      & .main-heading {
        text-align: center;
        margin-bottom: 20px;
        color: #575757;
        font-size: 30px;
        font-weight: 700;
      }

      & .form-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        & .input-section {
          padding: 12px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 10px;
          font-size: 16px;

          &:focus {
            border-color: antiquewhite;
            outline: none;
          }
        }

        & .error-section {
          color: red;
          font-size: 14px;
          margin-top: -10px;
          margin-bottom: 10px;
        }

        button {
          display: inline-block;
          width: auto;
          padding: 10px;
          background-color: antiquewhite;
          color: #575757;
          font-size: 16px;
          font-weight: 500;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: 0.3s ease;

          &:hover {
            background-color: antiquewhite;
          }
        }
      }
      & .toggle-form-text {
        font-size: 12px;
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        & .toggle-btn {
          background-color: antiquewhite;
          color: #575757;
          padding: 2px;
          border-radius: 4px;
        }
      }
    }
  }
}

@media (max-width: 1026px) {
  .login-container {
    height: 50vh;
    width: 100%;
    background-color: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    & .sub-contaner {
      padding: 15px;
      display: flex;
      width: 90%;
      max-width: 900px;
      height: 45vh;
      background-color: antiquewhite;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      z-index: 11;
      position: relative;
    }
    .login-left {
      flex: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .login-right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;

      .login-form {
        width: 100%;
        max-width: 400px;
        padding: 40px;

        & .main-heading {
          text-align: center;
          margin-bottom: 20px;
          color: #575757;
          font-size: 30px;
          font-weight: 700;
        }

        form {
          display: flex;
          flex-direction: column;
          text-align: center;
          input {
            padding: 12px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
            font-size: 16px;

            &:focus {
              border-color: antiquewhite;
              outline: none;
            }
          }

          & .error-section {
            color: red;
            font-size: 14px;
            margin-top: -10px;
            margin-bottom: 10px;
          }

          button {
            display: inline-block;
            width: auto;
            padding: 10px;
            background-color: antiquewhite;
            color: #575757;
            font-size: 16px;
            font-weight: 500;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
              background-color: antiquewhite;
            }
          }
        }
        & .toggle-form-text {
          font-size: 12px;
          padding-top: 10px;
          display: flex;
          justify-content: space-around;
          gap: 20px;
          & .toggle-btn {
            background-color: antiquewhite;
            color: #575757;
            padding: 2px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

//   small device
@media (max-width: 767px) {
  .login-container {
    height: auto;
    width: 100%;
    background-color: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    & .sub-contaner {
      padding: 15px;
      display: flex;
      flex-direction: column;
      width: 80%;
      max-width: 700px;
      height: 100vh;
      background-color: antiquewhite;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      z-index: 11;
      position: relative;
    }
    .login-left {
      flex: 1;
      img {
        width: 100%;
        height: 95%;
        object-fit: cover;
      }
    }

    .login-right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;

      .login-form {
        width: 100%;
        max-width: 400px;
        // padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & .main-heading {
          text-align: center;
          margin-bottom: 8px;
          color: #575757;
          font-size: 25px;
          font-weight: 600;
        }

        & .form-section {
          display: flex;
          flex-direction: column;
          text-align: center;
          & .input-section {
            padding: 12px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
            font-size: 16px;

            &:focus {
              border-color: antiquewhite;
              outline: none;
            }
          }

          & .error-section {
            color: red;
            font-size: 12px;
            margin-top: -9px;
            margin-bottom: 10px;
          }

          button {
            display: inline-block;
            width: auto;
            padding: 8px;
            background-color: antiquewhite;
            color: #575757;
            font-size: 16px;
            font-weight: 500;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
              background-color: antiquewhite;
            }
          }
        }
        & .toggle-form-text {
          font-size: 14px;
          padding-top: 5px;
          display: flex;
          justify-content: space-around;
          gap: 20px;
          & .toggle-btn {
            background-color: antiquewhite;
            color: #575757;
            padding: 3px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
