.main_homepage {
  padding-top: 0px;
  .Swiper {
    padding-top: 0%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

    & .main_heading {
      background-color: red;
      & .title_text {
        color: aqua;
      }
    }
  }
}

// <div className="main_allhomesection">
//         {/* banner end */}
//         {/* customber support section start */}
//         <div className="custember_section ">
//           <div className="main_item_section">
//             <MdOutlineLocalShipping className="icon_class" />
//             <div className="custember_content">
//               <p className="text_heading">Free Shiping</p>
//               <p className="text_sub">Writing Result-Orinted</p>
//             </div>
//           </div>

//           <div className="main_item_section">
//             <LiaHandHoldingUsdSolid className="icon_class" />
//             <div className="custember_content">
//               <p className="text_heading">Money Return</p>
//               <p className="text_sub">Writing Result-Orinted</p>
//             </div>
//           </div>

//           <div className="main_item_section">
//             <VscLock className="icon_class" />
//             <div className="custember_content">
//               <p className="text_heading">Secure Payment</p>
//               <p className="text_sub">Writing Result-Orinted</p>
//             </div>
//           </div>

//           <div className="main_item_section">
//             <BiSupport className="icon_class" />
//             <div className="custember_content">
//               <p className="text_heading">24/7Support</p>
//               <p className="text_sub">Writing Result-Orinted</p>
//             </div>
//           </div>
//         </div>
//         {/* customber support section end */}

//         {/* Daily DEALS start section */}
//         <div>
//           <div className="deals">
//             <p className="deals_heading">DAILY DEALS</p>
//             <div className="newitemsection">
//               <p>New Arrivals</p>
//               <p>Best Sellers</p>
//               <p>Sale Items</p>
//             </div>
//           </div>
//         </div>
//         {/* Daily DEALS end section */}

//         {/*  Item section start */}
//         <div className="item_section_start">
//           <div className="card_section">
//             <img
//               src="\image\homepage\1.jpg"
//               alt="dress"
//               className="image_section"
//             ></img>
//             <h2 className="text_section">Mens Leather Jacket</h2>
//             <div className="icon_section">
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//             </div>
//             <div className="price_section">
//               <p className="old_price">$200</p>
//               <span className="new_price">$150</span>
//             </div>
//           </div>

//           {/* image 2 */}
//           <div>
//             <img
//               src="\image\homepage\2.jpg"
//               alt="dress"
//               className="image_section"
//             ></img>
//             <h2 className="text_section">Mens Leather Jacket</h2>
//             <div className="icon_section">
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//             </div>
//             <div className="price_section">
//               <p className="old_price">$20</p>
//               <span className="new_price">$15</span>
//             </div>
//           </div>

//           {/* image 3 */}
//           <div>
//             <img
//               src="\image\homepage\3.jpg"
//               alt="dress"
//               className="image_section"
//             ></img>
//             <h2 className="text_section">Mens Leather Jacket</h2>
//             <div className="icon_section">
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//             </div>
//             <div className="price_section">
//               <p className="old_price">$20</p>
//               <span className="new_price">$15</span>
//             </div>
//           </div>
//           {/* image 4 */}
//           <div>
//             <img
//               src="\image\homepage\5.jpg"
//               alt="dress"
//               className="image_section"
//             ></img>
//             <h2 className="text_section">Mens Leather Jacket</h2>
//             <div className="icon_section">
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//             </div>
//             <div className="price_section">
//               <p className="old_price">$20</p>
//               <span className="new_price">$15</span>
//             </div>
//           </div>

//           {/* imag 5 */}
//           <div>
//             <img
//               src="\image\homepage\5.jpg"
//               alt="dress"
//               className="image_section"
//             ></img>
//             <h2 className="text_section">Mens Leather Jacket</h2>
//             <div className="icon_section">
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//               <IoStarOutline />
//             </div>
//             <div className="price_section">
//               <p className="old_price">$20</p>
//               <span className="new_price">$15</span>
//             </div>
//           </div>
//         </div>
//         {/*  Item section end */}

//         {/* New Item Section atrt */}

//         {/* New Item Section end */}
//       </div>
