.main_text_container {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper_icon_combind {
  display: flex;
  flex-direction: column;
  /* gap: 80px; */
}

.text_overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 25%;
  left: 15%;
  z-index: 2;
}

.title_text {
  color: red;
  font-size: 21px;
  font-weight: 600;
}

.desc_text {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.3;
}

.banner_image {
  width: 100%;
  height: auto;
  display: block;
}

.help_section {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 60px;
  gap: 70px;
  /* background-color: rgb(243, 238, 238); */
}
.two_item {
  display: flex;
  justify-content: center;
  gap: 70px;
}
.shiping_icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main_text {
  font-size: 19px;
  font-weight: 400;
}
.sub_text {
  font-size: 16px;
  font-weight: 400;
  color: gray;
}

.deals {
  text-align: center;
}

.deals p {
  display: inline-block;
  position: relative;
  /* padding: 0 20px; */
  font-weight: 600;
  font-size: 30px;
  color: #212529;
}

/* Line styling */
.deals p::before,
.deals p::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 80px !important;
  height: 2px;
  background: #000;
  opacity: 0;
  animation: growLine 1s forwards;
}

.deals p::before {
  left: -100px;
  animation-delay: 0.2s;
}

.deals p::after {
  right: -100px;
  animation-delay: 0.4s;
}

.product_section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 55px;
  padding-top: 30px;
  text-align: center;
}
.two_item_section {
  display: flex;
  gap: 30px;
}
.nav_items {
  margin: 10px;
}
.nav_items {
  font-size: 18px;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  color: gray;
}

.nav_item.active .nav_items {
  color: rgb(67, 66, 66);
  font-weight: 500;
}

.main_image_section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.combind_two_image {
  display: flex;
  justify-content: center;
}

.product_image_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  height: auto;
  padding: 15px;
}
.product_text_section {
  padding: 10px;
  text-align: center;
}
.product_rating {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.product_price {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.image_container {
  position: relative;
  width: fit-content;
}

.overlay_buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 229, 201);
  padding: 6px;
  display: none;
}

.image_container:hover .overlay_buttons {
  display: flex;
}

.buy_now_btn {
  flex: 1;
  background-color: rgb(248, 238, 227);
  color: rgb(80, 79, 79);
  border: none;
  padding: 5px;
  margin: 0 10px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.like_btn,
.view_btn {
  background: none;
  border: none;
  color: rgb(79, 78, 78);
  font-size: 20px;
  cursor: pointer;
}

/* Animation keyframes */
@keyframes growLine {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 50px;
    opacity: 1;
  }
}

/* medium device */

@media (max-width: 1026px) {
  .main_text_container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .text_overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 20%;
    left: 8%;
    z-index: 2;
  }

  .title_text {
    color: red;
    font-size: 17px;
    font-weight: 600;
  }

  .desc_text {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3;
  }

  .banner_image {
    width: 100%;
    height: auto;
    display: block;
  }
  .help_section {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .shiping_icon {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .two_item {
    display: flex;
    justify-content: center;
    gap: 70px;
  }
  .shiping_icon {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .main_text {
    font-size: 19px;
    font-weight: 400;
  }
  .sub_text {
    font-size: 16px;
    font-weight: 400;
    color: gray;
  }
  .deals {
    text-align: center;
  }

  .deals p {
    display: inline-block;
    position: relative;
    /* padding: 0 20px; */
    font-weight: 600;
    font-size: 30px;
    color: #212529;
  }

  /* Line styling */
  .deals p::before,
  .deals p::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 80px !important;
    height: 2px;
    background: #000;
    opacity: 0;
    animation: growLine 1s forwards;
  }

  .deals p::before {
    left: -100px;
    animation-delay: 0.2s;
  }
  .product_section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 55px;
    padding-top: 30px;
  }
  .product_item {
    font-size: 18px;
    font-weight: 500;
    color: #555;
    padding: 10px;
    margin: 0, 11px;
  }

  .main_image_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .combind_two_image {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 16px;
  }

  .product_image_section {
    display: flex;
    gap: 20px;
    width: 400px;
    height: auto;
    padding: 15px;
  }
  .product_text_section {
    padding: 10px;
    text-align: center;
  }
  .product_rating {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
  .product_price {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .image_container {
    position: relative;
    width: fit-content;
  }

  .overlay_buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 229, 201);
    padding: 6px;
    display: none;
  }

  .image_container:hover .overlay_buttons {
    display: flex;
  }

  .buy_now_btn {
    flex: 1;
    background-color: rgb(248, 238, 227);
    color: rgb(80, 79, 79);
    border: none;
    padding: 2px;
    margin: 0 10px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
  }

  .like_btn,
  .view_btn {
    background: none;
    border: none;
    color: rgb(79, 78, 78);
    font-size: 18px;
    cursor: pointer;
  }

  /* Animation keyframes */
  @keyframes growLine {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 50px;
      opacity: 1;
    }
  }
}

@media (max-width: 767px) {
  .main_text_container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .text_overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 20%;
    left: 8%;
    z-index: 2;
  }

  .title_text {
    color: red;
    font-size: 12px;
    font-weight: 600;
  }

  .desc_text {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }

  .banner_image {
    width: 100%;
    height: auto;
    display: block;
  }

  .help_section {
    display: flex;
    padding-top: 60px;
    padding-left: 30px;
    gap: 30px;
  }
  .help_section {
    display: flex;
    padding-top: 45px;
    padding-left: 30px;
    padding-bottom: 30px;
    gap: 20px;
  }
  .two_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .two_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .shiping_icon {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .main_text {
    font-size: 14px;
    font-weight: 500;
  }
  .sub_text {
    font-size: 13px;
    font-weight: 400;
    color: gray;
  }
  .deals {
    text-align: center;
  }

  .deals p {
    display: inline-block;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    color: #212529;
  }

  /* Line styling */
  .deals p::before,
  .deals p::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40px !important;
    height: 2px;
    background: #000;
    opacity: 0;
    animation: growLine 1s forwards;
  }

  .deals p::before {
    left: -60px;
    animation-delay: 0.2s;
  }
  .deals p::after {
    right: -60px;
    animation-delay: 0.4s;
  }
  .product_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    text-align: center;
  }
  .two_item_section {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .nav_items {
    margin: 10px;
  }
  .nav_items {
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
  }
  .main_image_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .combind_two_image {
    display: flex;
    justify-content: center;
  }

  .product_image_section {
    display: flex;
    gap: 15px;
    width: 350px;
    height: auto;
    padding: 10px;
  }
  .product_text_section {
    padding: 10px;
    text-align: center;
  }
  .product_rating {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
  .product_price {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .image_container {
    position: relative;
    width: fit-content;
  }

  .overlay_buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 229, 201);
    padding: 6px;
    display: none;
  }

  .image_container:hover .overlay_buttons {
    display: flex;
  }

  .buy_now_btn {
    flex: 1;
    background-color: rgb(248, 238, 227);
    color: rgb(80, 79, 79);
    border: none;
    padding: 2px;
    margin: 0 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
  }

  .like_btn,
  .view_btn {
    background: none;
    border: none;
    color: rgb(82, 82, 82);
    font-size: 20px;
    cursor: pointer;
  }

  /* Animation keyframes */
  @keyframes growLine {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 50px;
      opacity: 1;
    }
  }
}
